body {
    font-family: "Fira Sans", "Tahoma", "Verdana", sens-serif;
}
p {
    text-indent: 1.5em; /* Отступ первой строки */
    text-align: justify; /* Выравнивание по ширине */
}
.c {
    text-align: center;
}
.r {
    text-align: right;
}

.m {
}

.ni {
    text-indent: 0pt;
}
.header {
    font-weight: bold;
    text-align: center;
}

.centertable {
    margin: 0px auto;
}

h1 {
    text-align: center;
}

table {
    border-collapse: collapse; /* Отображать только одинарные линии */
}

.threethird {
    width: 75%;
}

section {
    padding:1em;
}

div.hidden {
    display: none;
}

.toolbar
{
    display: block;
    clear:both;
}
