.c {
    text-align: center;
}

h2 {
    text-align: center;
}

p {
    text-align: justify;
    text-indent: 4em;
}

p.noindent {
    text-indent: 0em;
}

p.centering {
    text-indent: 0em;
    text-align: center;
}


span.edit {
    color: blue;
}

span.disp {
    color: green;
}

span.string, input.string {

}

button.app-control-body {
    padding: 1em;
}

button.app-control-panel {
    padding: 1em;
    background-color: yellow;
}

span.edit-field, input.edit-field {
}

div.left {
    float: left;
}

div.right {
    float: right;
}
